@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root {
  font-family:'Open Sans', sans-serif ;
  --font-base: 'Poppins', sans-serif ;
  --font-alt: 'Open Sans', sans-serif ;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --color-black: #0C0C0C;
  --color-green: #9bf2ea;
  --color-greener: #76ccc4;
  --color-greent:#6ab1aa;
  --color-white: #e5e3e3;
  --color-grey: #1c1a1a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}


a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}




