* {
    margin: 0;
    padding: 0;
}

.logo-container {
    height: 10vh;
    transition: all 0.2s ease;
}

.logo-container:hover {
    transform: scale(1.1);
}

.nav {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
}

li {
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
}

.nav-logo{
    height: 100%;
}

.nav-txt{
    color: #9bf2ea;
    transition: all 0.2s ease;
    text-decoration: none;
}

.nav-txt:hover {
    color: #76ccc4;
}